---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The official government website for SEI of bnbmc1.x.">
    <meta name="author" content="SEI Website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
    <title>Home | {{ site.title }}</title>
</head>
<body>
    {% include navbar.html %}
    <div class="container">
        {{ content }}
    </div>
</body>
</html>